#photos{ /* height: 1559px; */  height: 1385px; overflow-x: hidden; width: 1080px !important; background: #fff; padding-top: 5px;}

#photos img:active{
    -moz-box-shadow: 0 0 40px #fff;
    -webkit-box-shadow: 0 0 40px #fff;
    box-shadow: 0px 0px 40px #fff;
}

#photos::-webkit-scrollbar {
    display: none;
}

body.landscape .photos{
    overflow-x: hidden;
    padding-top: 5px;
    width: 1635px !important;
    height: 830px !important;
}

body.landscape .photos img:active{
    -moz-box-shadow: 0 0 40px #fff;
    -webkit-box-shadow: 0 0 40px #fff;
    box-shadow: 0px 0px 40px #fff;
}

body.landscape .photos::-webkit-scrollbar {
    display: none;
}

#photos {
  width: 80%;
  margin: auto;
}

.smaller{ font-size: 14px; }
.fancybox{}

#photos{
    position:relative;
}
#photos>.galcolumn {
    float:left;
    display: inline-block;

}


.smaller{ font-size: 14px; }
.fancybox{}

.featurecontent .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.featurecontent .active.left {left:0;opacity:0;z-index:2;}
.featurecontent .next {left:0;opacity:1;z-index:1;}
.photos .img{ max-height:400px;}