*.mp4
*.mov
*.avi
*.wmv
bfg.jar
composer.phar
composer.lock
.DS_Store
html/images/flyer/**
html/images/staff/**
html/images/feature/**
html/images/cash/**
html/images/photos/**
html/cache/**
app/storage/logs/**
app/storage/cache/**
app/storage/sessions/**
app/storage/views/**
tests/_output/**
.vagrant

