/*
f79333 - orange
00b2a9 - green
00a8c6 - blue
ef3f3b - red
404041 - dark grey
b9bbbd - med grey
*/

/*fonts*/
@font-face { font-family: GalaxiePolarisCondensed-Book.; src: url('/fonts/GalaxiePolarisCondensed-Book.otf'); } 
@font-face { font-family: GalaxiePolarisCondensed-Bold; font-weight: bold; src: url('/fonts/GalaxiePolarisCondensed-Bold.otf'); }
@font-face { font-family: GalaxiePolarisCondensed-Light; font-weight: bold; src: url('/fonts/GalaxiePolarisCondensed-Light.otf'); }

/* html, body{ background-color: #000; padding: 0; margin: 0;  overflow: hidden !important;} */
html{
	-webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
	padding: 0; margin: 0;  
    overflow: hidden !important;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, .fancybox-overlay::-webkit-scrollbar{  
    display: none !important;
}

#stage{
/*     height: 1920px; */
	height: 1820px;
    width: 1080px;
    margin: 0 auto;
    background-color: #404040;

}


body.landscape #logo{
    float: right;
}
body.landscape #stage{
    width: 1920px;
    height: 980px !important;
}


body.landscape #scoreboard{    
    /*height: 100px;
    width: 755px;*/
}

body.landscape #heading{
    height: 120px;
    width: 100%;
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}


body.landscape #nav{
    float: left;
    width: 265px; 
    height: 960px;

}
    body.landscape #nav img{
        padding: 1px 0px 0px 0px;
    }

body.landscape #main{
    float: right;
    /*width: 1655px;
    height: 960px;*/

    width: 1635px;
    height: 940px;
    padding: 10px;
    /*color: white;*/
}

body.landscape .home { padding: 0 !important;}

#home-header{ 
    height: 120px;
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
 }
#home-bio{ opacity: 0; height: 600px; border-top: 1px solid #fff; border-bottom: 1px solid #fff;}
#home-callout{}
#home-nav{ height: 242px; background-color: #00ae9d; border-top: 1px solid #fff; border-bottom: 1px solid #fff; display: block;}
#home-flyer{}
#feature-bio{
    opacity: 0;    
    position: relative;
    left: 0px;
}

#landscape-feature{
    float: left;
    position: relative;
    /*right: 20px;*/
    width: 1200px;
    height: 960px;
}

#landscape-sidebar{
    float: right;
    width: 418px;
    background-color: #ee352a;
    height: 960px;
}

#flyerpreview{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* padding: 20px 10px 20px 0px; */
    width: 202px;
    height: 553px;
    background: transparent url('/images/flyer-tall-bg.jpg') top left no-repeat;
}

#toppicks{
	float: left;
	padding: 20px 10px 20px 10px;
}

#miniflyer{
    position: relative;
    top: 170px;
    left: 22px;
}

    body.landscape #flyerpreview{
        padding: 0; margin: 0;
        height: 683px !important;
        width: 418px;
        background: none;
        
    }

    body.landscape .miniflyer{
        position: relative;
        top: -20px;
        left: 30px;
        padding: 5px;
    }


    #landscape-sidebar #toppicks{
        position: relative;
    /*    top: 672px;
        left: 10px;*/
        bottom: 0px;
        padding: 0px;
    }






	
.toppicks .carousel-caption{ display: none;} 
	
#scoreboard{
    background-color: #333333;
    height: 120px;
    width: 755px;
}



#photos{ /* height: 1559px; */  height: 1454px; overflow-x: hidden; width: 1080px !important; background: #fff; padding-top: 5px;}

#photos img:active{
    -moz-box-shadow: 0 0 40px #fff;
    -webkit-box-shadow: 0 0 40px #fff;
    box-shadow: 0px 0px 40px #fff;
}

#photos::-webkit-scrollbar { 
    display: none; 
}


    body.landscape .photos{ 
        overflow-x: hidden; 
        padding-top: 5px;     
        width: 1635px !important;
        height: 940px !important;
    }

    body.landscape .photos img:active{
        -moz-box-shadow: 0 0 40px #fff;
        -webkit-box-shadow: 0 0 40px #fff;
        box-shadow: 0px 0px 40px #fff;
    }

    body.landscape .photos::-webkit-scrollbar { 
        display: none; 
    }

/*#staff{ background: #272727 url('/images/staff-bg.jpg') top left no-repeat; height: 1200px; width: 100%;}*/
#current-staff-bio{
    /*opacity: 0;*/
    position: relative;
    /*left: -300px;*/
    height: 947px;
 /*    background: transparent url('/images/guy.png') bottom right no-repeat; */
    background-color: #000;
}

#bio{
    position: relative;
    top: 0px;
    /*left: -300px;*/
    opacity: 0;
    padding: 100px 0px;
    float: left;
    width: 550px;
    height:680px;
    /*border: thin solid lime;*/
    background: transparent url('/images/bio-bg.png') top left no-repeat;
    
}
#bio-nav{
    padding: 10px 5px;
/*     height: 190px; */
/* 	height: 599px; */
	height: 492px;
	width: 100%;

/*
            overflow: auto;
            overflow-y: hidden;
            margin: 0 auto;
            white-space: nowrap
*/

}

#bio-nav::-webkit-scrollbar { 
    display: none; 

}

#bio-nav img{
    display: inline;
    border: 8px solid #666;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #000;
    
    margin: 5px;
}
#current-staff-photo{
    float: right;
}
#store-ribbon{
    background: transparent url('/images/ribbon.png') top left no-repeat; height: 54px; width: 522px;
    font-family: GalaxiePolarisCondensed-Bold;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px 0px 100px;
    position: relative;
}



h1.name{
    font-family: GalaxiePolarisCondensed-Bold;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
h2.dept{
    font-family: GalaxiePolarisCondensed-Bold;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;   
    width: 400px;
	display: block;
	padding-left: 100px !important;
}

#current-staff-bio p{
    margin-left: 96px;
    line-height: 30px;
    color: #fff;
    font-family: GalaxiePolarisCondensed-Bold;
    width: 400px;
   
}

p.bio-text{
     
    
    font-size: 24px;   
    padding-bottom: 20px;    
        border-bottom: 1px solid white;  
}

p.experience{
    border-top: 1px solid white;
    border-bottom: 1px solid white;  
     font-size: 24px;   
    padding: 10px 0px;
}

p.sports{
/*     border-bottom: 1px solid white;   */
    padding: 2px 0px 10px 0px;   
    font-size: 24px;       
}
p.knowledge{
    padding-top: 20px;
    font-size: 24px
}

span.whitebox{
    height: 30px;
    width: 56px;
    background-color: #fff;
    display: inline-block;
    margin-top: 5px;
    margin-right: 44px;
    float: left;
}

span.whiteboxtop{
    height: 30px;
    width: 56px;
    background-color: #fff;
    display: inline-block;
    margin-top: 15px;
    margin-right: 44px;
    float: left;
}


/* landscape staff bios*/

body.landscape #current-staff{
    width: 1180px;
    
}

body.landscape #current-staff-bio{
    /*opacity: 0;*/
    position: relative;
    /*left: -300px;*/
    height: 947px;
    width: 1180px;
 /*    background: transparent url('/images/guy.png') bottom right no-repeat; */
    background-color: #000;
}

body.landscape #bio{
    position: relative;
    top: 360px;
    /*left: -300px;*/
    left: 0px;
    opacity: 0;
    padding: 10px 0px 100px 0px;
    float: left;
    width: 550px;
    height:480px;
    
    background: transparent url('/images/bio-bg.png') top left no-repeat;
    
}

body.landscape #bio-nav{
    position: relative;
    /*top: 124px;
    left: 1550px;*/
    top: -950px; left: 0px;
    padding: 0px 0px;
/*     height: 190px; */
    /*height: 599px;*/
    height: 940px;
    /*width: 100%;*/
    width: 450px;
    float: right;
    z-index: 999;
    


/*
            overflow: auto;
            overflow-y: hidden;
            margin: 0 auto;
            white-space: nowrap
*/

}

body.landscape #bio-nav::-webkit-scrollbar { 
    display: none; 


}

body.landscape #bio-nav img{
    display: inline;
    border: 8px solid #666;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #000;
    
    margin: 5px;
    float: left;
}
body.landscape #current-staff-photo{
    float: left;
}
body.landscape #store-ribbon{
    background: transparent url('/images/ribbon.png') top left no-repeat; height: 54px; width: 522px;
    font-family: GalaxiePolarisCondensed-Bold;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px 0px 100px;
    position: relative;
}



body.landscape h1.name{
    font-family: GalaxiePolarisCondensed-Bold;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
body.landscape h2.dept{
    font-family: GalaxiePolarisCondensed-Bold;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;   
    width: 400px;
    display: block;
    padding-left: 100px !important;
}

body.landscape #current-staff-bio p{
    margin-left: 96px;
    line-height: 30px;
    color: #fff;
    font-family: GalaxiePolarisCondensed-Bold;
    width: 400px;
   
}

body.landscape p.bio-text{
    
    font-size: 24px;   
    padding-bottom: 20px;    
        border-bottom: 1px solid white;  
}

body.landscape p.experience{
    border-top: 1px solid white;
    border-bottom: 1px solid white;  
     font-size: 24px;   
    padding: 10px 0px;
}

body.landscape p.sports{
/*     border-bottom: 1px solid white;   */
    padding: 2px 0px 10px 0px;   
    font-size: 24px;       
}

body.landscape p.knowledge{
    padding-top: 20px;
    font-size: 24px
}

body.landscape span.whitebox{
    height: 30px;
    width: 56px;
    background-color: #fff;
    display: inline-block;
    margin-top: 5px;
    margin-right: 44px;
    float: left;
}

body.landscape span.whiteboxtop{
    height: 30px;
    width: 56px;
    background-color: #fff;
    display: inline-block;
    margin-top: 15px;
    margin-right: 44px;
    float: left;
}


body.landscape #js-info{ 
    float: left;
    width: 1060px;
    padding: 20px;
}


body.landscape #js-sidebar{
    float: right;
    width: 500px;
    
}

body.landscape #js-logo{ float: left; width: 288px;}

body.landscape #js-champ{ float: left; width: 700px; padding-bottom: 50px;}


#max, #min{ font-size: 16px;} 

body.landscape #max, body.landscape #min{ font-size: 20px;} 

#calendar-main{ height: 1200px;}

.fullwidth{width: 100%;}

.floatL{float: left;}
.floatR{float: right;}
.clear{clear: both;}

#flyer{
    background-color: #fff;
}

#flyer-int{
	height:1200px;
    background-color: #fff;
}

    body.landscape #flyer-int{
        height:940px;
        background-color: #fff;
        overflow-x: scroll;

    }

    body.landscape #flyer-int::-webkit-scrollbar { 
        display: none; 
    }

#flyer img{ border: 1px solid #666; margin: 25px 40px;}

#nav img{
    float: left;
}

#nav a:active{
    -moz-box-shadow: 0 0 40px #fff;
    -webkit-box-shadow: 0 0 40px #fff;
    box-shadow: 0px 0px 40px #fff;
}


#arrows{
    background: transparent url('/images/arrows.gif') top left no-repeat;
    width: 199px;
    height: 83px;
    z-index: 99;
    position: absolute;
    left: 870px;
    top: 1120px;
    
    display: block;
    /*opacity: 0;*/
}


.carousel-caption{padding: 15px; background:#333333; background:rgba(0, 0, 0, 0.75); width: 100%; height: 220px;}
.carousel-caption{ position: relative; bottom: 250px; z-index: 1; }


/*.caption-left, .caption-right{ position: absolute; left:0px; bottom: -250px;}*/

/*.caption-left{position: absolute; top: 0px; left: 20px;}
.caption-right{position: absolute; top: 0px; left: 630px;}*/

.carousel-caption h4,.carousel-caption p{color:#ffffff;line-height:20px;}
.carousel-caption h4{margin:0 0 5px;}
.carousel-caption p{margin-bottom:0;}

.caption-title{font-family: GalaxiePolarisCondensed-Bold;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    }

.caption-left .caption-title{ text-align: left; padding: 10px 0px 0px 20px; display: block; background: transparent url('/images/ribbon.png') top left no-repeat; height: 54px; width: 554px; position: relative; right: 20px;}
.caption-right .caption-title{ text-align: left; padding: 10px 0px 0px 110px; display: block; background: transparent url('/images/ribbon-right.png') top left no-repeat; height: 54px; width: 554px; position: relative; left: 545px;}

body.landscape .caption-right .caption-title{ text-align: left; padding: 10px 0px 0px 110px; display: block; background: transparent url('/images/ribbon-right.png') top left no-repeat; height: 54px; width: 554px; position: relative; left: 662px;}

.caption-content{
	display: block;
	text-align: left;
	padding: 10px 20px;
    line-height: 36px;
    color: #fff;
    font-family: GalaxiePolarisCondensed-Bold;    
    font-size: 24px;   

       
}